:root {
  --grey-color: #616161;
  --black-color: #000000;
  --white-color: #ffffff;
  --background-color: #f5f5f5;
  --background2-color: #e0e0e0;

  --font-family-basic: 'DM Sans';
  --font-size-basic: 16px;
}

body {
  margin: 0;
  font-family: var(--font-family-basic);
  background-color: var(--background-color);
  color: var(--black-color);
  font-size: var(--font-size-basic);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  --font-family-basic: 'DM Sans';
}

/* HEADER SECTION ***********************************************************************************/
.header-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;

}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  border-radius: 16px;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  z-index: 0;
}

.header-section-container {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 92px 140px 92px;

}

.header-left {
  display: flex;
  align-items: center;
  margin: 0px 170px;
}

.logo img {
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;

}

nav ul li {
  white-space: nowrap;
}

nav ul li a {
  color: var(--background2-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--accent-color);
}

.header-buttons {
  display: flex;
  gap: 10px;

}

button {
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: var(--font-family-basic);

}

.login {
  background: transparent;
  color: var(--background2-color);
}

.login:hover {
  background: var(--black-color);
  color: var(--background-color);
}

.register {
  background: transparent;
  color: var(--background2-color);
}

.register:hover {
  background: var(--black-color);
  color: var(--background2-color);
}

/* WELCOME-SECTION **********************************************************************************/

.welcome-section {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
  color: var(--background2-color);
  z-index: 2;
}

.welcome-section-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.welcome-section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 30px;
}

.welcome-section-button {
  background: var(--black-color);
  padding: 14px 28px;
  border-radius: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.welcome-section-button a {
  color: var(--background2-color);
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.welcome-section-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

/* STATISTIC-SECTION ********************************************************************************** */
.welcome-static {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
}

.stat-list {
  list-style: none;
  display: flex;
  gap: 260px;
  padding: 0;
  margin: 0;
}

.stat-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 120px;
}

.stat-item h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--background2-color);
}

.stat-item p {
  font-size: 1rem;
  opacity: 0.9;
  margin: 0;
  color: var(--background2-color);
  white-space: nowrap;
}

.stat-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* EXPLORE SECTION *************************************************************************************/

.explore-section {
  text-align: center;
  padding: 60px 20px;
  border: 1px solid var(--black-color);
  background: var(--background-color);

}

.explore-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 500;

}

.explore-section p {
  font-size: 1.2rem;
  color: var(--black-color);
  margin-bottom: 40px;
  max-width: 500px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.places-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
}

.place-card {
  position: relative;
  width: 430px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.place-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.place-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.place-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--white-color);
  text-align: left;
  z-index: 2;
}

.place-info h3 {
  font-size: 1.6rem;
  margin: 0;
}

.place-info p {
  font-size: 1rem;
  margin: 0;
  opacity: 0.8;
  color: var(--white-color);
}

.place-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* PLATFORM SECTION ***********************************************************************************/
.platform-section {
  padding: 80px 20px;
  background: var(--background-color);
  margin-bottom: 80px;
}

.platform-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: end;
}

.platform-text {
  max-width: 700px;
}

.platform-text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.platform-text p {
  font-size: 1rem;
  color: var(--grey-color);
  line-height: 1.6;
  margin-bottom: 25px;
}

.platform-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.platform-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.platform-list h3 {
  font-size: 1.2rem;
  margin: 0;
}

.platform-list p {
  font-size: 1.0rem;
  color: var(--grey-color);
  margin: 5px 0 0;
}

.platform-button {
  display: inline-block;
  background: var(--black-color);
  color: var(--white-color);
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.platform-button:hover {
  background: var(--grey-color);
  transform: scale(1.05);
}

.platform-image img {

  max-width: 500px;
  max-height: 700px;
  border-radius: 16px;
  object-fit: cover;
  display: block;
}

/* TRAVEL SECTION *********************************************************************************/
.travel-section {
  text-align: center;
  padding: 60px 20px;
  background: var(--background-color);
  margin-bottom: 80px;
}

.travel-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.travel-info {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.travel-info h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  color: var(--black-color);
}

.travel-info p {
  font-size: 1rem;
  color: var(--grey-color);
  line-height: 1.6;
  margin-bottom: 25px;
}

.hotel-info p {
  font-size: 0.9rem;
  color: var(--grey-color);
  margin: 0;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.hotel-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  padding-bottom: 8px;
}


.hotel-card:hover {
  transform: translateY(-5px);
}

.hotel-info {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  width: calc(100% - 16px);
  padding: 16px;
  box-sizing: border-box;
  background: var(--white-color);
  color: var(--black-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

}

.hotel-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background: var(--white-color);
  margin-top: 10px;
  box-sizing: border-box;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black-color);
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgb(248, 235, 213);
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: bold;
  white-space: nowrap;
  color: #ffbc3e;
}


.explore-button-container {
  text-align: center;
  margin-top: 30px;
}

.explore-button {
  background: var(--black-color);
  color: var(--background2-color);
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.explore-button:hover {
  background: #333;
  transform: scale(1.05);
}

/* Reviews Section ***********************************************************************************/
.reviews-section {
  text-align: center;
  padding: 60px 20px;
  background: var(--background-color);
}

.review-title h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  max-width: 600px;
  margin: 0 auto 40px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 80px;
}

.review-card {
  background: var(--white-color);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.review-card p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--black-color);
}

.reviewer {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.reviewer-name {
  font-weight: bold;
  font-size: 1rem;
}

.reviewer-position {
  font-size: 0.9rem;
  color: var(--grey-color);
}

/* CTA Section ***************************************************************************************************/
.cta-section {
  background: var(--background2-color);
  padding: 40px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.cta-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.cta-text p {
  font-size: 1rem;
  color: var(--grey-color);
  max-width: 500px;
}

.cta-buttons {
  display: flex;
  gap: 15px;
}

.btn-outline,
.btn-primary {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-outline {
  border: 1px solid var(--black-color);
  background: transparent;
  color: var(--black-color);
}

.btn-outline:hover {
  background: var(--black-color);
  color: var(--white-color);
}

.btn-primary {
  background: var(--black-color);
  color: var(--white-color);
  border: none;
}

.btn-primary:hover {
  background: var(--grey-color);
}


/* Footer Section ***************************************************************************************/
.footer {
  background: var(--black-color);
  color: var(--white-color);
  padding: 40px 20px;
  font-family: 'DM Sans', sans-serif;
  border-radius: 16px 16px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--grey-color);
}

.footer-left {
  max-width: 500px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-logo img {
  width: 170px;
  height: 30px
}

.footer-description {
  margin: 10px 0 20px;
  font-size: 1rem;
  color: var(--background2-color);
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.newsletter-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.newsletter-input input {
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid var(--background-color);
  background: transparent;
  color: var(--white-color);
  outline: none;
  font-size: 1rem;
}

.newsletter-input input::placeholder {
  color: var(--grey-color);
}

.subscribe-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: var(--white-color);
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.subscribe-button:hover {
  background:var(--background2-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 0;
  font-size: 0.9rem;
  color: var(--background2-color);
}

.footer-bottom-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.footer-bottom-links a {
  color: var(--background2-color);
  text-decoration: none;
}

.footer-bottom-links a:hover {
  text-decoration: underline;
}